.header {
  font-weight: 800;
}

.timeline {
  position: relative;
  margin: 2rem 0;
  padding: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  width: 4px;
  background: #0dcaf0;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.timeline-item.education {
  left: 50%;
  text-align: left;
  border-left: 2px solid #0dcaf0;
  padding-left: 2rem;
}

.timeline-item.experience {
  left: 0;
  text-align: right;
  border-right: 2px solid #0dcaf0;
  padding-right: 2rem;
}

.timeline-icon {
  position: absolute;
  top: 1rem;
  width: 30px;
  height: 30px;
  background: #0dcaf0;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.timeline-item.education .timeline-icon {
  left: -15px;
}

.timeline-item.experience .timeline-icon {
  right: -15px;
}

.timeline-content h5 {
  font-weight: 600;
}

.timeline-content .subtitle {
  color: #6c757d;
  font-size: 0.9rem;
}

.timeline-content .year {
  color: #adb5bd;
  font-size: 0.8rem;
  align-items: center;
}
