.header {
  font-weight: 800;
}

.title {
  font-weight: 600;
}

span {
  font-size: larger;
  font-weight: 600;
}

.content-2 {
  font-size: 14px;
  font-weight: 500;
  max-width: 600px;
  line-height: 1.5;
  margin: 0 auto;
}
span {
  color: #2575fc;
}

.hover-shadow {
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
  cursor: pointer;
}

.hover-shadow:hover {
  box-shadow: 0 10px 25px rgba(37, 117, 252, 0.6); 
  transform: scale(1.05);
}