/* Background wrapper */
.background-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

/* Floating icon style */
.background-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 0; 
}

.animated-lines {
  width: 100%;
  height: 100%;
}

.animated-lines path {
  stroke-linecap: round;
  filter: blur(1.2px);
  opacity: 0.6;
}

/* keep content on top */
.header-section > .container {
  position: relative;
  z-index: 2;
}

.header-section {
  padding: 100px 20px;
  height: max-content;
}

.subtitle-title {
  font-weight: 800;
}

.highlight {
  color: #2575fc;
}

.text {
  color: #2575fc;
}

/* Social Icons */
.social-links {
  gap: 15px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0c0019;
  color: #fff;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  background: #2575fc;
  color: #fff;
  transform: translateY(-5px) scale(1);
  box-shadow: 0 4px 15px rgba(0, 217, 255, 0.6);
}

.hover-shadow {
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
  cursor: pointer;
}

.hover-shadow:hover {
  box-shadow: 0 10px 25px rgba(37, 117, 252, 0.6); 
  transform: scale(1.05);
}
