.header-section {
  padding: 100px 20px;
  background: #fff; /* Dark background */
  height: max-content;
}

.subtitle-title {
  font-weight: 800;
}

.highlight {
  color: #2575fc;
}

.text {
  color: #2575fc;
}

/* Social Icons */
.social-links {
  gap: 15px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0c0019;
  color: #fff;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  background: #2575fc;
  color: #fff;
  transform: translateY(-5px) scale(1);
  box-shadow: 0 4px 15px rgba(0, 217, 255, 0.6);
}

.btn {
  background-color: #0c0019;
  color: #fff;
  border-radius: 20px;
}

.btn:hover {
  background-color: #2575fc;
}

.hover-shadow {
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
  cursor: pointer;
}

.hover-shadow:hover {
  box-shadow: 0 10px 25px rgba(37, 117, 252, 0.6); 
  transform: scale(1.05);
}
